@font-face {
  font-family: 'pridilight';
  src: url('../fonts/pridi-light.woff2') format('woff2'),
       url('../fonts/pridi-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pridimedium';
    src: url('../fonts/pridi-medium.woff2') format('woff2'),
         url('../fonts/pridi-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'pridiregular';
  src: url('../fonts/pridi-regular.woff2') format('woff2'),
       url('../fonts/pridi-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


